body{font-family:Arial;background:#fff8f0;padding:20px}
header{background:#ff7a00;color:white;padding:20px;text-align:center}
nav a{margin:10px;color:#ff7a00;font-weight:bold;text-decoration:none}
button{background:#ff7a00;color:white;border:none;padding:8px 15px}